<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEGWGxPrcmh6on1c2ujeolzj8MPmAIkfc</string>
	<key>GCM_SENDER_ID</key>
	<string>833451726552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhijitsaha.Goodine</string>
	<key>PROJECT_ID</key>
	<string>goodine-cc29b</string>
	<key>STORAGE_BUCKET</key>
	<string>goodine-cc29b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833451726552:ios:ccbdd43d2d842dadb4a9ad</string>
</dict>
</plist>